Название данного проекта Спец Агент 000.
Автор - Ишталбагамаев Ислам Шамилевич.
Данный проект представляет из себя игру платформер.
Сюжет игры таков: главный герой - агент имперской разведки,
которому было предоставлено задание по получению секретных
документов из вражеского склада, охраняемого роботами.
У роботов преимущество в оружии т.к у героя начальство
решило скупиться на экипировку, но наш герой не из трусливых
и вполне готов с ними справиться, а так же он может найти новое
оружие в одном из уровней игры.Что касается уровне, то в игре их 3,
попасть в которые можно через таблички указывающие на двери.
Сама идея состоит в том, чтобы сделать платформер с уровнями, в котором
у игрока будет опрделенная цель, а мешать ему будут враги.
Игра состоит из 21 модуля в целях обеспечения удобного написания
кода и его дальнейшей корректировки.
Количество строк 1094.

Основные классы:
Player, Tile, Camera т.к они выполняют основные задачи игры,
не менее важны классы Tablet, Secret, Robot и т.д, но большинство их функционала
было взято у основных.
класс Player является классом главного героя и отвечает за его движение,
внешний вид и т.д
класс Tile создает блоки с различными текстурами.
Почти в каждом классе имеется метод move для движения спрайтов,
который используется преимущественно в классе Camera
сам класс Camera следит за персонажем, не давая тому выйти
за пределы уровня и перемещает блоки для этого.
Важно будет упомянуть и Bullet, который отвечает за пули.
Игрок может увеличить свой наносимый урон, благодоря классу Gun,
создающий пистолет в определенном месте на карте и подобрать его.

Не менее и важны функции в модулях: level, load_image,
get_message, move, ибо они отвечают за внешний вид игры.
Конкретно в load_image загружается изображение, в level
загружается и создается уровень, а get_message выводит
сообщения на экран.

В проекте также использовались Pyqt и sqlite3 для отображения рекордов,
а также в модуле начального экрана для запуска окна статистики из другого файла
используется функция run из модуля subprocess, т.к игровой цикл мешал ему запускаться.

Из интересного можно выразить наличии классов кнопки и
поля ввода текста, представленных в виде спрайтов

Изображения:
Большинство текстур было нарисовано самим автором и даже фон.

Текстовые документы с изображениями хранятся в папке data
для исполняемого файла игры был создан файл statistic_of_game.exe,
т.к он не будет работать в игровом цикле.

Необходимые библиотеки:
pygame                    2.1.3.dev8
os
PyQt5                     5.15.7
sys














